DEEPSEEK_API_KEY=

APP_CLOUD_API_BASE_URL=http://43.155.234.124:3000/api
APP_CLOUD_IMPORT_TOKEN=

APP_STORAGE_ENDPOINT=
APP_STORAGE_PUBLIC_BASE_URL=
APP_STORAGE_ACCESS_KEY=
APP_STORAGE_SECRET_KEY=
APP_STORAGE_BUCKET=bucket-20260417-1404

APP_STORAGE_OCI_NAMESPACE=nrkizuyzkz3i
APP_STORAGE_OCI_REGION=ap-tokyo-1
APP_STORAGE_OCI_TENANCY=
APP_STORAGE_OCI_USER=
APP_STORAGE_OCI_FINGERPRINT=
APP_STORAGE_OCI_KEY_FILE=/app/secrets/oracle-objectstorage.pem

WHISPER_MODEL=small
WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16
